body {
  margin: 0;
  font-family: "Kanit", sans-serif;
  background-color: #4801ff;
  color: black;
  font-size: 1.1em;
  text-align: center;
  overflow-x: hidden;
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
